<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"  layout:decorate="~{layout/main}">
<body>
<div layout:fragment="content">
    <h1>Quản lý sinh viên</h1>
    <div class="container">
        <div style="text-align: center;font-family: 'Arial';margin-bottom: 30px;" class="title">
            <h1 class="wow animate__backInDown" data-wow-duration="2s" >Quản lý User</h1>
        </div>
        <br>

        <table class="table" style="border: 1px solid">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">SSOID</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${list}">
                <td th:utext="${user.id}"></td>
                <td th:utext="${user.ssoId}"></td>
                <td th:utext="${user.email}"></td>
                <td >
                    <p th:each="r:${user.userRoleSet}" th:utext="${r.name}"></p>
                </td>
                <td><a th:href="@{/mail/test-mail/{id}(id=${user.id})}">send email</a></td>

            </tr>
            </tbody>
        </table>

    </div>
</div>


</body>
</html>